[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastparquet = "*"
jupyter = "*"
pandas = "*"
pyarrow = "*"
scikit-learn = "==1.4.2"
mlflow = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.10"
